<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>local_shipping</mat-icon>
  </button>
  <span>SwiftShip</span>
  <span class="example-spacer"></span>
  <mat-icon>flight_takeoff</mat-icon>
  <span>Где <span class="under-line">скорость</span>, идёт в один шаг с <span class="under-line">надёжностью</span></span>
  <mat-icon> directions_boat</mat-icon>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditOrderModalForm()">
      Добавить заказ
  </button>
</mat-toolbar>

  

