<div mat-dialog-title>
    <h1>Сделать заказ</h1>
</div>
<form [formGroup]="modalFormForOrder" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Ваше имя</mat-label>
                <input matInput type="text" placeholder="Имя" required formControlName="firstName">
                <mat-hint>Н-р: Данил</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Ваша фамилия</mat-label>
                <input matInput type="text" placeholder="Фамилия" required formControlName="lastName">
                <mat-hint>Н-р: Вуколов</mat-hint>
            </mat-form-field>

        </div>

        <div class="row">
            <mat-radio-group class="gender" formControlName="gender">
                <mat-label><b>Пол</b></mat-label>
                <mat-radio-button *ngFor="let gender of genders" [value]="gender" >
                    {{ gender }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Ваша Эл. почта</mat-label>
                <input matInput type="email" placeholder="Email" required formControlName="email">
                <mat-hint>Н-р: pupsik@yandex.com</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Номер телефона</mat-label>
                <input matInput type="text" placeholder="Ваш телефон" required formControlName="phone">
                <mat-hint>Н-р: 8(800)555-35-35</mat-hint>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Адрес получателя</mat-label>
                <input matInput type="text" placeholder="Адрес" required formControlName="recieveAddress">
                <mat-hint>Н-р: ул. Пушкина 45б</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Почтовый индекс</mat-label>
                <input matInput type="text" placeholder="Индекс" required formControlName="postIndex">
                <mat-hint>Н-р: 614046 </mat-hint>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="cityForm">
                <mat-form-field class="cityForm-full-width" appearance="outline">
                    <mat-label>
                        Город
                    </mat-label>
                    <input formControlName="citiesAndDistrictFilter" matInput type="text" [matAutocomplete]="auto"
                        placeholder="Выберите город" />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let city of filteredRussianCitiesOptions" [value]="city">
                            г. {{city}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>


        <div class="row">
            <mat-form-field appearance="outline" class="single-row">
                <mat-label>Дата отправки</mat-label>
                <input matInput [matDatepicker]="orderDatepicker" placeholder="Выберите дату" [min]="minDate" formControlName="departureDate">
                <mat-datepicker-toggle matSuffix [for]="orderDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #orderDatepicker></mat-datepicker>
                <mat-hint>ММ/ДД/ГГГГ</mat-hint>
            </mat-form-field>
        </div>


        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Выберите компанию доставки</mat-label>
                <mat-select formControlName="shippingCompanies">
                    <mat-option *ngFor="let shpngCmp of shippingCompanies" [value]="shpngCmp" >
                        {{ shpngCmp }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Отмена</button>
        <button mat-raised-button color="primary" type="submit">{{ data ? 'Изменить' : 'Добавить' }}</button>
    </div>
</form>